@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*all*/
*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

/*main*/
#main-contact {
    width: 100%;
    min-height: 100vh;
    background-color: #c8e8e9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-container {
    width: 80%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    margin: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Aside*/
#main-contact .aside {
    width: 25%;
    margin-right: 30px;
}
.aside > div {
    text-align: center;
}
#aside_email{
    margin: 10px 0;
}
.aside_icon {
    min-width: 50px;
}
.aside_icon > i {
    color: #3e2093;
    font-size: 40px;
}
.aside_content h3 {
    font-size: 1.1rem;
}
.aside_content p {
    color: #999;
    font-size: 1em;
}

/*Form*/
#main-contact .content-form {
    width: calc(75% - 30px);
}
.form-header h1 {
    color: #3e2093;
    font-size: 1.3rem
}
.form-header p {
    text-align: justify;
}
.input-box label,
.message-box label {
    display: none;
}
.input-box input,
.message-box textarea {
    height: 40px;
    width: 100%;
    max-width: 100%;
    padding: 15px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #3e2093;
    color: #3e2093;
    font-size: inherit;
}

.input-box input:hover,
.input-box input:focus,
.input-box textarea:hover,
.input-box textarea:focus {
    border: 2px solid #3e2093;
}
.message-box textarea {
    min-height: 100px;
    resize: none;
}
.input-box input::placeholder,
.message-box textarea::placeholder {
    color: #3e2093;
}
/*btn-form*/
#button_form input{
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    background-color: #3e2093;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    transition: .5s ease;
    width: 100%;
}
#button_form input:hover{
    transform: scale(.99);
    background-color: #2a165f;
}

/*queries*/
@media (max-width: 988px) {
    .contact-container {
        flex-direction: column-reverse;
    }
    #main-contact .aside {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
        padding-top: 20px;
        border-top: 1px solid #999;
    }
    .aside > div {
        padding: 0 15px;
    }
    #aside_phone {
        margin: 0;
    }

    #main-contact .content-form {
        width: 100%;
        padding-bottom: 15px;
    }
}