* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

[data-slide] {
  position: relative;
}

.introducao {
  font-size: 0;
  list-style: none;
  /* display: flex; */
  overflow: hidden;
}

[data-slide-item] {
  position: relative;
  display: block;
  min-width: 100%;
}

[data-slide-item="hide"] {
  display: none;
}

[data-slide-item="show"] {
  display: block;
  animation: fadeIn .5s forwards;
}

[data-slide] img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slide-content {
  font-size: 1rem;
  position: absolute;
  display: grid;
  height: 100%;
  top: 0;
  align-content: center;
  color: #fff;
  background: linear-gradient(275deg, transparent, rgba(0, 0, 0, 0.4));
}

[data-anime] {
  animation: fadeUp .8s .3s forwards;
  padding-left: 40px;
  opacity: 0;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 4%;
}
.controls button {
  background: rgba(255, 255, 255, 0.4);
  padding: 8px 40px;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideLeft {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}